doctype htmldoctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title Jade長谷川式簡易知能評価スケール（HDS-R）
  body
    h1 長谷川式簡易知能評価スケール（HDS-R）
      h2 1.お歳はいくつですか？ （２年までの誤差は正解）	  0 1
      h2 2.今日は何年何月何日ですか？ 何曜日ですか？（年月日、曜日が正解でそれぞれ１点ずつ）年0 1 日0 1 曜日0 1
      h2 3.私たちがいまいるところはどこですか？（自発的にでれば2点、5秒おいて家ですか？病院ですか？施設ですか？のなかから正しい選択をすれば１点）0 1 2
      h2 4.これから言う３つの言葉を言ってみてください。あとでまた聞きますのでよく覚えておいてください。（以下の系列のいずれか１つで， 採用した系列に○印をつけておく）1：　a）桜 b）猫 c）電車 0 1  2：　a）梅 b）犬 c）自動車 0 1
      h2 5.１００から７を順番に引いてください。（100-7は？、それからまた7を引くと？ と質問する。最初の答えが不正解の場合、打ち切る）（93）（86) 0 1  0 1
      h2 6.私がこれから言う数字を逆から言ってください。（6-8-2、3-5-2-9を逆に言ってもらう、3桁逆唱に失敗したら、打ち切る）	2-8-6  9-2-5-3	  0 1  0 1
      h2 7.先ほど覚えてもらった言葉をもう一度言ってみてください。（自発的に回答があれば各2点、もし回答がない場合以下のヒントを与え正解であれば1点）a）植物 b）動物 c）乗り物	a： 0 1 2  b： 0 1 2  c： 0 1 2
      h2 8.これから５つの品物を見せます。それを隠しますのでなにがあったか言ってください。（時計、鍵、タバコ、ペン、硬貨など必ず相互に無関係なもの）0 1 2 3 4 5
      h2 9.知っている野菜の名前をできるだけ多く言ってください。（答えた野菜の名前を右欄に記入する。途中で詰まり、約10秒間待っても出ない場合には そこで打ち切る）0～5＝0点， 6＝1点， 7＝2点， 8＝3点， 9＝4点， 10＝5点 0 1 2 3 4 5
